{% set b = enrichBooking(booking) %}
{% set extranights = 0 %}
{% if booking.extras != null and booking.extras.length > 0 %}
  {% for extra in booking.extras %}
    {% if extra.nights and extra.nights.extra %}
      {% set extranights = extranights + extra.nights.extra %}
    {% endif %}
  {% endfor %}
{% endif %}

<table class='mcnTextBlock' border='0' cellpadding='0' cellspacing='0' width='100%'>
  <tbody class='mcnTextBlockOuter'>
    <tr>
      <td class='mcnTextBlockInner' valign='top'>
        <table class='mcnTextContentContainer' align='left' border='0' cellpadding='0' cellspacing='0' width='100%'>
          <tbody>
            <tr>
              <td class='mcnTextContent' style='padding-left:18px;'>
                <b>{{ t('agency') }}:</b>
                {{ booking.affiliate.company.name }}
              </td>
            </tr>
            <tr>
              <td class='mcnTextContent' style='padding-left:18px;'>
                <b>{{ t('tour_name') }}:</b>
                {{ product.name }}
              </td>
            </tr>
            <tr>
              <td class='mcnTextContent' style='padding-left:18px;'>
                <b>{{ t('DMC') }}:</b>
                {{ booking.dmc.name }}
              </td>
            </tr>
            <tr>
              <td class='mcnTextContent' style='padding-left:18px;'>
                <b>{{ t('travel_date') }}:</b>
                {{ booking.dates.start.day }}
                {{ booking.dates.start.monthname_en }}
                {{ booking.dates.start.year }}
              </td>
            </tr>
            <tr>
              <td class='mcnTextContent' style='padding-left:18px;'>
                <b>{{ t('travelers') }}:</b>
                {{ booking.paxes.length }}
              </td>
            </tr>
            <tr>
              <td class='mcnTextContent' style='padding-left:18px;'>
                <b>{{ t('customer_contact') }}:</b>
                {{ booking.customerContact }}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
