<table class='mcnTextContentContainer' align='left' border='0' cellpadding='0' cellspacing='0' width='100%'>
  <tbody>
    <tr>
      <td
        class='mcnTextContent'
        valign='top'
        style='padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;'
      >

        {% if booking.query != null and booking.query.code != null %}
          <h4>
            {{ t('booking_dmc_quotation_booked') }}
          </h4>
          <br />
        {% endif %}
        <h2 class='null'>
          {{ t('product') }}:<strong>
            "{{ product.name }}
            {% if product.categoryname.label_en %}
              ({{ product.categoryname.label_en }})
            {% endif %}"
          </strong>
        </h2>
        <br />
      </td>
    </tr>
  </tbody>
</table>

<table class='mcnDividerBlock' border='0' cellpadding='0' cellspacing='0' width='100%'>
  <tbody class='mcnDividerBlockOuter'>
    <tr>
      <td class='mcnDividerBlockInner' style='padding: 18px 18px 0px;'>
        <table
          class='mcnDividerContent'
          border='0'
          cellpadding='0'
          cellspacing='0'
          width='100%'
          style='border-top-width: 1px;border-top-style: solid;border-top-color: #999999;'
        >
          <tbody>
            <tr>
              <td>
                <span></span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table class='mcnTextBlock' border='0' cellpadding='0' cellspacing='0' width='100%'>
  <tbody class='mcnTextBlockOuter'>
    <tr>
      <td class='mcnTextBlockInner' valign='top'>

        <table class='mcnTextContentContainer' align='left' border='0' cellpadding='0' cellspacing='0' width='282'>
          <tbody>
            <tr>
              <td class='mcnTextContent' valign='top' style='padding: 9px 0px 9px 18px; text-align: left;'>
                <div>
                  <strong>{{ t('date_of_travel') }}&nbsp;&nbsp;:</strong>
                  &nbsp;&nbsp;
                  <span>{{ booking.dates.start.day }} {{ booking.dates.start.monthname_en }} {{ booking.dates.start.year }}</span>
                </div>
                {% set totalpax = booking.paxes.length %}
                <div>
                  <strong>{{ t('number_of_pax') }}&nbsp;:</strong>
                  &nbsp;&nbsp;&nbsp;
                  <span>{{ totalpax }}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table class='mcnDividerBlock' border='0' cellpadding='0' cellspacing='0' width='100%'>
  <tbody class='mcnDividerBlockOuter'>
    <tr>
      <td class='mcnDividerBlockInner' style='padding: 0px 18px 18px;'>
        <table
          class='mcnDividerContent'
          border='0'
          cellpadding='0'
          cellspacing='0'
          width='100%'
          style='border-top-width: 1px;border-top-style: solid;border-top-color: #999999;'
        >
          <tbody>
            <tr>
              <td>
                <span></span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table class='mcnBoxedTextBlock' border='0' cellpadding='0' cellspacing='0' width='100%'>
  <tbody class='mcnBoxedTextBlockOuter'>
    <tr>
      <td class='mcnBoxedTextBlockInner' valign='top'>
        <table
          class='mcnBoxedTextContentContainer'
          align='left'
          border='0'
          cellpadding='0'
          cellspacing='0'
          width='100%'
        >
          <tbody>
            <tr>
              <td style='padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;'>
                <table
                  class='mcnTextContentContainer'
                  border='0'
                  cellpadding='18'
                  cellspacing='0'
                  width='100%'
                  style='background-color: #FFF2F2;'
                >
                  <tbody>
                    <tr>
                      <td class='mcnTextContent' valign='top'>
                        <div>
                          <img
                            height='14'
                            src='http://res.cloudinary.com/open-market-travel/image/upload/v1423064611/mail/fa-warning.png'
                            style='height: 14px; width: 14px;'
                            width='14'
                          />
                          &nbsp;
                          <span style='color:#a94442'>
                            {{ t('attention_freesale') }}
                            <br />
                            <br />
                            {{ t('upload_proforma') }}
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>

<table class='mcnTextBlock' border='0' cellpadding='0' cellspacing='0' width='100%'>
  <tbody class='mcnTextBlockOuter'>
    <tr>
      <td class='mcnTextBlockInner' valign='top' style='padding: 9px 0px 9px 18px; text-align: left;'>
        <table class='mcnTextContentContainer' align='left' border='0' cellpadding='0' cellspacing='0' width='282'>
          <tbody>
            <tr>
              <td class='mcnTextContent' valign='top' style='padding: 9px 0px 9px 9px; text-align: left;'>
                <div>
                  <strong>{{ t('total_cost') }}:</strong>
                  &nbsp;
                  <span>{{ booking.breakdown.provider.net }} {{ booking.dmc.currency.symbol }}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table class='mcnBoxedTextBlock' border='0' cellpadding='0' cellspacing='0' width='100%'>
  <tbody class='mcnBoxedTextBlockOuter'>
    <tr>
      <td class='mcnBoxedTextBlockInner' valign='top'>

        <table
          class='mcnBoxedTextContentContainer'
          align='left'
          border='0'
          cellpadding='0'
          cellspacing='0'
          width='100%'
        >
          <tbody>
            <tr>

              <td style='padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;'>

                <table
                  class='mcnTextContentContainer'
                  border='0'
                  cellpadding='18'
                  cellspacing='0'
                  width='100%'
                  style='border: 1px solid #DDDDDD;'
                >
                  <tbody>
                    <tr>
                      <td class='mcnTextContent' valign='top'>
                        <h2 class='null' style='line-height: 20.7999992370605px;'>{{ t('accommodation') }}:</h2>

                        <br style='line-height: 20.7999992370605px;' />

                        {% for pax in booking.paxes %}
                          <strong style='line-height:20.7999992370605px'>Pax {{ loop.index }}</strong>
                          <br style='line-height: 20.7999992370605px;' />
                          <span style='line-height:20.7999992370605px'>
                            {{ t('first_name') }}
                            :&nbsp;
                            <strong>{{ pax.name }}</strong>
                            <br />
                            {{ t('last_name') }}
                            :&nbsp;
                            <strong>{{ pax.lastname }}&nbsp;</strong>
                          </span>
                          <br style='line-height: 20.7999992370605px;' />
                          {{ t('passport_id_number') }}
                          :&nbsp;
                          <strong>[{{ pax.documentyype }}] {{ pax.documentnumber }}</strong>
                          <br style='line-height: 20.7999992370605px;' />
                          <span style='line-height:20.7999992370605px'>
                            {{ t('country_of_nationality') }}
                          </span>
                          <span style='line-height:20.7999992370605px'>:&nbsp;</span>
                          <strong style='line-height:20.7999992370605px'>{{ pax.country.name }} ({{ pax.country.countrycode }})</strong>
                          <br style='line-height: 20.7999992370605px;' />
                          <br style='line-height: 20.7999992370605px;' />
                        {% endfor %}

                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>

<br />
{% if booking.meetingdata %}
  <table class='mcnBoxedTextBlock' border='0' cellpadding='0' cellspacing='0' width='100%'>
    <tbody class='mcnBoxedTextBlockOuter'>
      <tr>
        <td class='mcnBoxedTextBlockInner' valign='top'>

          <table
            class='mcnBoxedTextContentContainer'
            align='left'
            border='0'
            cellpadding='0'
            cellspacing='0'
            width='100%'
          >
            <tbody>
              <tr>

                <td style='padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;'>

                  <table class='mcnTextContentContainer' border='0' cellpadding='18' cellspacing='0' width='100%'>
                    <tbody>
                      <tr>
                        <td class='mcnTextContent' valign='top'>
                          <h2 class='mc-toc-title'>{{ t('details_for_transfer') }}:</h2>

                          <br />
                          <strong>{{ booking.meetingdata }}</strong>
                          <br />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>
{% endif %}
