<tr>
	<td align="center" valign="top">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader">
			<tr>
				<td valign="top" class="preheaderContainer" style="padding-top:9px;">
					<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
						<tbody class="mcnImageBlockOuter">
							<tr>
								<td valign="top" style="padding:0px" class="mcnImageBlockInner">
									<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
										<tbody>
											<tr>
												<td class="mcnImageContent" valign="middle" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0;">
													<a href="http://www.yourttoo.com/" title="" class="" target="_blank">
														<img align="left" alt="yourttoo.com logo" src="https://exodusstoragefiles.blob.core.windows.net/images/475122e1-5027-463e-ab81-97431e4141ba.png" width="220" style="max-width:160px; padding-bottom: 0; display: inline !important; vertical-align: bottom;margin:15px 0px 25px 30px" class="mcnImage">
													</a>
												</td>
												<td align="right" valign="middle" style="padding-right: 30px;">
													<p style="margin:15px 0px 25px 0px; color:#555555; font-size:14px; font-family:Helvetica, Arial, sans-serif; vertical-align: middle;">{{ t('agency_email') }}</p>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
