{% extends '../layouts/yto-layout.njk' %}
{% from "../partials/text-block.njk" import textBlock %}

{% block body %}
  <tr>
    <td align='center' valign='top'>
      <!-- BEGIN HEADER // -->
      <table id='templateHeader' border='0' cellpadding='0' cellspacing='0' width='100%'>
        <tr>
          <td class='headerContainer' valign='top'>
            {% call textBlock('100%') %}
              &nbsp;
              <h1>
                {{ t('new_booking', { id: booking.idBooking }) }}
              </h1>
              <p class='text-muted'>
                <strong>
                  {{ t('dear_colleagues') }}
                  <br />
                  {{ t('booking_details_intro') }}
                </strong>
              </p>
            {% endcall %}
          </td>
        </tr>
      </table>
      <!-- // END HEADER -->
    </td>
  </tr>
  <tr>
    <td align='center' valign='top'>
      <!-- BEGIN BODY // -->
      <table id='templateBody' border='0' cellpadding='0' cellspacing='0' width='100%'>
        <tr>

          <td class='bodyContainer' valign='top'>
            {% include "../partials/booking.njk" %}

            {% include "../partials/check-booking.njk" %}

            <!-- BEGIN Call to action -->
            {% set ca ={
                txt: t(
                  'acknowledge_booking'
                ),
                url: 'https://yourttoo.com/acknowledgebooking?code=' + booking.idBooking + '&dmc=' + booking.dmc.code
              }
            %}
            {% include "../partials/call-to-action.njk" %}
            <!-- END Call to action -->

          </td>
        </tr>
      </table>
      <!-- // END BODY -->
    </td>
  </tr>
{% endblock %}
