{% extends '../layouts/yto-layout.njk' %}

{% block body %}
<tr>
    <td align="center" valign="top">
        <!-- BEGIN HEADER // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
            <tr>
                <td valign="top" class="headerContainer">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                <tbody class="mcnTextBlockOuter">
                    <tr>
                        <td valign="top" class="mcnTextBlockInner">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                            <tbody>
                                <tr>
                                    <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                        <h1 class="null"><br>{{ t('booking_modified', { id: booking.idBooking }) }}</h1>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                </table>
                </td>
            </tr>
        </table>
    <!-- // END HEADER -->
    </td>
</tr>
<tr>
    <td align="center" valign="top">
        <!-- BEGIN BODY // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
            <tr>
                <td valign="top" class="bodyContainer">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                <tbody class="mcnTextBlockOuter">
                    <tr>
                        <td valign="top" class="mcnTextBlockInner">

                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer">
                            <tbody>
                            <tr>
                                <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
            <span>{{ t('modification_intro') }}<br>
            <br>
            <strong>{{ modification }}</strong>
            <br>
            <p>{{ t('personal_data') }}
            {% for room in booking.roomDistribution %}
                 <br style="line-height: 20.7999992370605px;">
                     {% for pax in room.paxList %}
                    <strong style="line-height:20.7999992370605px">
                    {{ t('passenger') }} {{ loop.index }}

            </strong>
            <br style="line-height: 20.7999992370605px;">
            <span style="line-height:20.7999992370605px">{{ pax.lastName }}&nbsp;{{ pax.name }}
            <br>
            {% endfor %}
            {% endfor %} </p>
            <p>{{ t('program') }}: {{ product['title_' + lang] or product.name }} {% if product.categoryname['label_' + lang] %}({{ product.categoryname['label_' + lang] }}) {% endif %} </p>

            {{ t('verify_dashboard') }}
            </span>
            <br>
                                </td>
                            </tr>
                            </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- BEGIN Call to action -->
            {% if ca == null or ca == undefined or ca == '' %}
                {% set ca = {txt: t('go_to_booking'), url: 'https://www.openmarket.travel/'} %}
            {% endif %}
            {% include "../partials/call-to-action.njk" %}
            <!-- END Call to action -->


            </td>
            </tr>
        </table>
        <!-- // END BODY -->
    </td>
</tr>

{% endblock %}