{% extends '../layouts/yto-layout.njk' %}
{% set tz = booking.timezone or { offset: -120 } %}
{% set b = enrichBooking(booking) %}
{% block body %}
<tr>
    <td align="center" valign="top">
        <!-- BEGIN HEADER // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
            <tr>
                <td valign="top" class="headerContainer">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                        <tbody class="mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnTextBlockInner">
                                    
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer">
                                        <tbody><tr>
                                            
                                            <td valign="top" class="mcnTextContent" style="padding: 9px 18px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
                                                &nbsp;
                                                <h1>{{ t('new_message_booking', { id: booking.idBooking }) }}</h1>
                                                <p>
                                                DMC: <strong>{{ dmc.company.name }}</strong>
                                                <br/>
                                                {{ t('reference') }}: <strong>{{ booking.idBookingDmc }}</strong>
                                                <br/>
                                                {{ t('save_as') }}: <strong>{{ product.name }}</strong>
                                                <br/>
                                                {{ t('date') }}: <strong>{{ booking.dates.start.day }} {{ booking.dates.start.monthname_en }} {{ booking.dates.start.year }}</strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <!-- // END HEADER -->
    </td>
</tr>
<tr>
    <td align="center" valign="top">
        <!-- BEGIN BODY // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
            <tr>
                <td valign="top" class="bodyContainer">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock">
                        <tbody class="mcnBoxedTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnBoxedTextBlockInner">
                                    
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextContentContainer">
                                        <tbody>
										<tr>
											<td valign="top" class="mcnBoxedTextBlockInner">
                                    
												<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextContentContainer">
													<tbody><tr>
                                            
														<td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">
                                            
															<table border="0" cellpadding="5" cellspacing="0" class="mcnTextContentContainer" width="100%" style="background-color: #FCF8E3;">
																<tbody>
																<tr>
																	<td valign="top" class="mcnTextContent" style="text-align: left;">

																		<table border="0" cellpadding="5" cellspacing="0"  class="mcnTextContentContainer">
																			<tbody>
																				<tr>
																					<td width="50" valign="top" align="center">

																						&nbsp;<img height="36" src="{{ content.from.avatarimg }}" style="height: 36px; width: 36px;" width="36">
																					</td>
																					<td>
																						<strong style="line-height: 120%">{{ content.from.name }}:</strong><br>
																						<em style="color:#999999">"{{ content.message }}"</em>

																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
													</tbody>
												</table>
											</td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
										</tbody>
									</table>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                        <tbody class="mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnTextBlockInner">

                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
                                        <tbody class="mcnCaptionBlockOuter">
                                            <tr>
                                                <td valign="top" class="mcnTextContent" style="padding: 9px 18px;">
                                                    <h3>{{ t('paxes') }}</h3>
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
                                                        <tr class="bg-soft" style="font-size: 12px;">
                                                            <th>{{ t('pax_title') }}</th>
                                                            <th>{{ t('last_name') }}</th>
                                                            <th>{{ t('name') }}</th>
                                                            <th>{{ t('birthdate') }}</th>
                                                            <th>{{ t('nationality') }}</th>
                                                            <th>{{ t('document_number') }}</th>
                                                            <th>{{ t('document_type') }}</th>
                                                            <th>{{ t('room') }}</th>
                                                        </tr>
                                                        {% for pax in booking.paxes %}
                                                        <tr class="itineraryrow title" style="font-size: 11px;">
                                                            <td style="white-space: nowrap; padding-right: 10px;">{{ pax.title or pax.gender }}</td>
                                                            <td style="white-space: nowrap; padding-right: 10px;">{{ pax.lastname }}</td>
                                                            <td style="white-space: nowrap; padding-right: 10px;">{{ pax.name }}</td>
                                                            <td style="white-space: nowrap; padding-right: 10px;">{{ adjustForTimezone(pax.birthdate, tz.offset) | date('Y-m-d') }}</td>
                                                            <td style="white-space: nowrap; padding-right: 10px;">{{ pax.country.name_en }}</td>
                                                            <td style="white-space: nowrap; padding-right: 10px;">{{ pax.documentnumber }}</td>
                                                            <td style="white-space: nowrap; padding-right: 10px;">{{ pax.documenttype }}</td>
                                                            <td style="white-space: nowrap; padding-right: 10px;">{{ pax.room }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        <tr>
                                                            <td colspan="8">
                                                                <strong>
                                                                    <hr />
                                                                </strong>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <br />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <!-- // END BODY -->
    </td>
</tr>
{% endblock %}