{% extends '../layouts/yto-layout.njk' %}

{% block body %}
<tr>
    <td align="center" valign="top">
        <!-- BEGIN HEADER // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
            <tr>
                <td valign="top" class="headerContainer">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                        <tbody class="mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnTextBlockInner">
                                    
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer">
                                        <tbody>
                                            <tr>
                                                <td valign="top" class="mcnTextContent" style="padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                    &nbsp;
                                                    <h1>{{ t('booking_confirmed', { id: booking.idBooking }) }} </h1>
                                                    {% if booking.query != null and booking.query.code %}
                                                    <br>
                                                    <h2 style="text-align:center;">{{ t('tailormade_booked') }}</h2>
                                                    {% endif %}
                                                    {% if booking.bookingmodel == 'whitelabel' %}<h2>(WHITELABEL)</h2>{% endif %}
                                                    {% include "../partials/affiliate-information-simple.njk" %}
                                                </td>
                                            </tr>

                                            {% if booking.services != null and booking.services.length > 0 %}
                                            <tr>
                                                <td valign="top" class="mcnTextContent" style="padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                {% set svc = booking.services[0] %}
                                                {% set svcconfirmation = svc.confirmation %}
                                                {{ t('flight_locator') }} <strong>{{svcconfirmation.AirBooking.BookingReference}}</strong> - {{ t('ticket_issue_deadline') }} <strong>{{svcconfirmation.AirBooking.TicketIssueDateLimit}}</strong>
                                            </tr>
										    {% endif %}
                                        <tr>
                                            <td valign="top" class="mcnTextContent" style="padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                {% include "../partials/affiliate-price.njk" %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="mcnTextContent" style="padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                {% include "../partials/dmc-price.njk" %}
                                            </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <!-- // END HEADER -->
    </td>
</tr>
<tr>
    <td align="center" valign="top">
        <!-- BEGIN BODY // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
            <tr>
                <td valign="top" class="bodyContainer">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                        <tbody class="mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnTextBlockInner">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer">
                                        <tbody>                                            
                                            <tr>
                                                <td valign="top" class="mcnTextBlockInner">
                                                    {% include "../partials/admin-affiliate-booking.njk" %}
                                                </td>
                                            </tr>
<br />
                                             <tr>
                                                {% include "../partials/passengers-table.njk" %}
                                                {% call textBlock('100%') %}
                                                <p>
                                                    {{ t('payment_mode') }}
                                                    <strong>
                                                    {% if booking.paymentmodel.indexOf('split') >= 0 %}
                                                        {{ t('installments') }}
                                                    {% else %}
                                                        100%
                                                    {% endif %}
                                                    </strong>
                                                </p>
                                                <p>{{ t('observations') }} <strong>{{ booking.observations.observations }}</strong></p>
                                                <p>{{ t('transfers') }} <strong>{{ booking.meetingdata }}</strong></p>
                                                {% endcall %}
                                                {% include "../partials/booking-transfers.njk" %}
                                             </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                        <tbody class="mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnTextBlockInner">
                                <br />
                                    {% set ca = {txt: t('go_to_booking'), url: 'https://yourttoo.com/edit/booking?code=' + booking.idBooking } %}
                                    {% include "../partials/call-to-action.njk" %}
                                    <!-- END Call to action -->       
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <!-- // END BODY -->
    </td>
</tr>
{% endblock %}
