{% extends '../layouts/yto-layout.njk' %}

{% block body %}
<tr>
	<td align="center" valign="top">
		<!-- BEGIN HEADER // -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
			<tr>
				<td valign="top" class="headerContainer">
					<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
						<tbody class="mcnTextBlockOuter">
							<tr>
								<td valign="top" class="mcnTextBlockInner">
									<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer">
										<tbody>
											<tr>
												<td valign="top" class="mcnTextContent" style="padding: 9px 18px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
													&nbsp;
													<h1>{{ t('new_tailormade_request') }}</h1>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
		<!-- // END HEADER -->
	</td>
</tr>
<tr>
	<td align="center" valign="top">
		<!-- BEGIN BODY // -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
			<tr>
				<td valign="top" class="bodyContainer">
					<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
						<tbody class="mcnTextBlockOuter">
							<tr>
								<td valign="top" class="mcnTextBlockInner">
									<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer">
										<tbody>
											<tr>
												<td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-left: 18px;">

<h3 class="null" style="line-height: 20.7999992370605px;">
	{{ t('locator') }} <strong>{{ request.code }}</strong>
</h3>
{% if request.affiliate %}
	<br>
	{{ t('agency') }}: <strong>{{ request.affiliate.company.name }}</strong><br>
	{{ t('code') }} <strong><a href="http://www.yourttoo.com/affiliate/account?code={{request.affiliate.code}}">{{request.affiliate.code}}</a></strong><br>
	{{ t('contact_person') }} <strong>{{ request.affiliate.contact.lastname }} {{ request.affiliate.contact.firstname }}</strong><br>
	{{ t('email') }} <strong>{{ request.affiliate.contact.bookingContact.email }}</strong><br>
{% else %}
	<br>
	<h3>{{ t('customer') }} <strong>{{ request.traveler.firstname }} {{ request.traveler.lastname }}</strong></h3><br>
{% endif %}


												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
{% if request.affiliate %}
	{% include "../partials/applicant.njk" %}
{% endif %}
<!-- TAILOR MADE DETAILS // -->
{% include "../partials/tailormade.njk" %}
					

<!-- BEGIN Call to action
 -->
{% set ca = {txt: t('go_to_budget'), url: url} %}
{% include "../partials/call-to-action.njk" %}
<!-- END Call to action -->


				</td>
			</tr>
		</table>
		<!-- // END BODY -->
	</td>
</tr>
{% endblock %}