{% extends '../layouts/yto-layout.njk' %}

{% block body %}
<tr>
    <td align="center" valign="top">
        <!-- BEGIN HEADER // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
            <tr>
                <td valign="top" class="headerContainer">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                        <tbody class="mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnTextBlockInner">
                                    
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer">
                                        <tbody><tr>
                                            
                                            <td valign="top" class="mcnTextContent" style="padding: 9px 18px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
                                                &nbsp;
                                                <h1>{{ t('new_message_for_booking', { id: booking.idBooking }) }}</h1>
                                                <p>
                                                {{ t('agency') }}: <strong>{{ affiliate.company.name }}</strong>
                                                <br/>
                                                {{ t('expediente') }} <strong>{{ booking.idBookingExt }}</strong>
                                                <br/>
                                                {{ t('save_as') }}: <strong>{{ product.name }}</strong>
                                                <br/>
                                                {{ t('travel_date') }}: <strong>{{ booking.dates.start.day }} {{ booking.dates.start.monthname_en }} {{ booking.dates.start.year }}</strong>
                                                </p>
                                                <p><strong>{{ t('email') }} </strong> {{ affiliate.contact.bookingContact.email }}</p>
                                            </td>
                                        </tr>
										<tr>
                                                <td valign="top" class="mcnTextBlockInner">
                                                    {% include "../partials/booking.njk" %}
                                                </td>
                                            </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <!-- // END HEADER -->
    </td>
</tr>
<tr>
    <td align="center" valign="top">
        <!-- BEGIN BODY // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
            <tr>
                <td valign="top" class="bodyContainer">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock">
                        <tbody class="mcnBoxedTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnBoxedTextBlockInner">
                                    
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextContentContainer">
                                        <tbody>
										<tr>
											<td valign="top" class="mcnBoxedTextBlockInner">
                                    
												<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextContentContainer">
													<tbody><tr>
                                            
														<td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">
                                            
															<table border="0" cellpadding="5" cellspacing="0" class="mcnTextContentContainer" width="100%" style="background-color: #FCF8E3;">
																<tbody>
																<tr>
																	<td valign="top" class="mcnTextContent" style="text-align: left;">

																		<table border="0" cellpadding="5" cellspacing="0"  class="mcnTextContentContainer">
																			<tbody>
																				<tr>
																					<td width="50" valign="top" align="center">

																						&nbsp;<img height="36" src="{{ content.from.avatarimg }}" style="height: 36px; width: 36px;" width="36">
																					</td>
																					<td>
																						<strong style="line-height: 120%">{{ content.from.name }}:</strong><br>
																						<em style="color:#999999">"{{ content.message }}"</em>

																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
													</tbody>
												</table>
											</td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
										</tbody>
									</table>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                        <tbody class="mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnTextBlockInner">


                                <br />
                                    <!-- BEGIN Call to action -->
                                    {% if not ca %}
                                    {% set ca = { txt: t('go_to_booking'), url: url + '#tabdetails' } %}
                                    {% endif %}
                                    {% include "../partials/call-to-action.njk" %}
                                    <!-- END Call to action -->

                                    <br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <!-- // END BODY -->
    </td>
</tr>
{% endblock %}