{% extends '../layouts/yto-layout.njk' %}
{% set dmc = booking.dmc %}
{% set product = booking.products[0] %}
{% set products = booking.products %}
{% block body %}
<tr>
    <td align="center" valign="top">
        <!-- BEGIN HEADER // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
            <tr>
                <td valign="top" class="headerContainer">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                    <tbody class="mcnTextBlockOuter">
                        <tr>
                            <td valign="top" class="mcnTextBlockInner">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer">
                                    <tbody>
                                    <tr>
                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                            &nbsp;
                                            {% if paymentmodel == 'tpv-split' and payments.length == 1 %}
                                                <h1>{{ t('reminded_remaining_payment') }}</h1>
                                            {% else %}
                                               <h1>{{ t('wl_booking_confirmed', { id: idBooking }) }}</h1>
                                            {% endif %}
                                            <p><strong>{{ t('expediente') }} {{ affiliate.company.name }}:</strong> {{ idBookingExt }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" class="mcnTextBlockInner">
                                            {% include "../partials/booking.njk" %}
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </td>
            </tr>
        </table>
        <!-- // END HEADER -->
    </td>
</tr>
<tr>
    <td align="center" valign="top">
        <!-- BEGIN BODY // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
            <tr>
                <td valign="top" class="bodyContainer">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                <tbody class="mcnTextBlockOuter">
                     <!-- botones -->
                    <tr>
                        <td>
                            <p>
                               {% set ca = { txt: t('go_to_booking'), url: url + '#tabdetails' } %}
                                {% include "../partials/call-to-action.njk" %}
                            </p>
                        </td>
                    </tr>
                        </tbody>
                        </table>
                        </td>
                    </tr>
        </table>
        <!-- // END BODY -->
    </td>
</tr>
{% endblock %}