{% extends '../layouts/yto-layout.njk' %}

{% block body %}
  <table id='templateHeader' border='0' cellpadding='0' cellspacing='0' width='600'>
    <tr>
      <td class='headerContainer' valign='top'>
        <table class='mcnTextBlock' border='0' cellpadding='0' cellspacing='0' width='100%'>
          <tbody class='mcnTextBlockOuter'>
            <tr>
              <td class='mcnTextBlockInner' valign='top'>

                <table
                  class='mcnTextContentContainer'
                  align='left'
                  border='0'
                  cellpadding='0'
                  cellspacing='0'
                  width='600'
                >
                  <tbody>
                    <tr>
                      <td
                        class='mcnTextContent'
                        valign='top'
                        style='padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;'
                      >
                        <h1>{{ t('your_booking', { id: booking.idBooking }) }}</h1>
                      </td>
                    </tr>
                    <tr>
                      <td class='mcnTextBlockInner' valign='top'>{% include "../partials/affiliate-booking.njk" %}</td>
                    </tr>
                    <tr>
                      <td class='mcnTextBlockInner' valign='top'>{% include "../partials/passengers-table.njk" %}</td>
                    </tr>
                    <tr>
                      <td class='mcnTextBlockInner' valign='top'>{% include "../partials/extras-to-add.njk" %}</td>
                    </tr>
                    <tr>
                      <td class='mcnTextBlockInner' valign='top'>{% include "../partials/booking-payments.njk" %}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>

  <table id='templateBody' border='0' cellpadding='0' cellspacing='0' width='100%'>
    <tr>
      <td class='bodyContainer' valign='top'>
        <table class='mcnTextBlock' border='0' cellpadding='0' cellspacing='0' width='100%'>
          <tbody class='mcnTextBlockOuter'>
            <!-- BEGIN Call to action
        http://www.yourttoo.com/
            -->
            {% set ca = { txt: t('go_to_booking'), url: 'http://yourttoo.com/edit/booking?code=' + booking.idBooking } %}

            {% include "../partials/call-to-action.njk" %}

            <!-- END Call to action -->

            <!-- BEGIN message // -->
            {% include "../partials/yto-team-thanks-message.njk" %}
            <!-- // END message -->

            </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}
