{% extends '../layouts/yto-layout.njk' %}

{% block body %}
  <tr>
    <td align='center' valign='top'>
      <!-- BEGIN HEADER // -->
      <table id='templateHeader' border='0' cellpadding='0' cellspacing='0' width='100%'>
        <tr>
          <td class='headerContainer' valign='top'>
            <table class='mcnTextBlock' border='0' cellpadding='0' cellspacing='0' width='100%'>
              <tbody class='mcnTextBlockOuter'>
                <tr>
                  <td class='mcnTextBlockInner' valign='top'>
                    <table
                      class='mcnTextContentContainer'
                      align='left'
                      border='0'
                      cellpadding='0'
                      cellspacing='0'
                      width='100%'
                    >
                      <tbody>
                        <tr>
                          <td
                            class='mcnTextContent'
                            valign='top'
                            style='padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;'
                          >
                            <h1>{{ t('booking_cancelled_yours', { id: booking.idBooking }) }}</h1>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
      <!-- // END HEADER -->
    </td>
  </tr>

  <tr>
    <td align='center' valign='top'>
      <!-- BEGIN BODY // -->
      <table id='templateBody' border='0' cellpadding='0' cellspacing='0' width='100%'>
        <tr>
          <td class='bodyContainer' valign='top'>
            <table class='mcnTextBlock' border='0' cellpadding='0' cellspacing='0' width='100%'>
              <tbody class='mcnTextBlockOuter'>
                <tr>
                  <td class='mcnTextBlockInner' valign='top'>{% include "../partials/affiliate-booking.njk" %}</td>
                </tr>

                <tr>
                  <td
                    class='mcnTextContent'
                    valign='top'
                    style='padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;'
                  >
                    {{ t('cancelled_success') }}
                    <br />
                    {{ t('check_possible_fees') }}
                  </td>
                </tr>

                <!-- botones -->
                <tr>
                  <td
                    class='mcnTextContent'
                    valign='top'
                    style='padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;'
                  >
                    {% set ca = { txt: t('go_to_booking'), url: 'http://yourttoo.com/edit/booking?code=' + booking.idBooking } %}
                    {% include "../partials/call-to-action.njk" %}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
      <!-- // END BODY -->
    </td>
  </tr>
{% endblock %}
