{% extends '../layouts/yto-layout.njk' %}
{% from "../partials/text-block.njk" import textBlock %}

{% block body %}
  <tr>
    <td align='center' valign='top'>
      <!-- BEGIN HEADER // -->
      <table id='templateHeader' border='0' cellpadding='0' cellspacing='0' width='100%'>
        <tr>
          <td class='headerContainer' valign='top'>
            {% call textBlock('100%') %}
              <h1>
                {{ t('hotels_confirmed', { id: booking.idBooking }) }}
              </h1>
              <br />
              <h3>
                {{ t('hotels_confirmed_text') }}
              </h3>
              <br />
              <strong>{{ t('expediente') }} {{ affiliate.company.name or affiliate.name }}:</strong>
              {{ booking.idBookingExt }}
              <br />
              <strong>{{ t('program') }}:</strong>
              {{ product['title_' + lang] }}
              <br />
              <strong>{{ t('travel_date') }}:</strong>
              {{ booking.dates.start.day }}
              {{ booking.dates.start.monthname_en }}
              {{ booking.dates.start.year }}
              <br />
              <strong>{{ t('paxes') }}:</strong>
              {{ booking.paxes.length }}
            {% endcall %}
          </td>
        </tr>
      </table>
      <!-- // END HEADER -->
    </td>
  </tr>
  <tr>
    <td align='center' valign='top'>
      <!-- BEGIN BODY // -->
      <table id='templateBody' border='0' cellpadding='0' cellspacing='0' width='100%'>
        <tr>
          <td class='bodyContainer' valign='top'>
            {% call textBlock('100%') %}
              <br />
              {% if not ca %}
                {% set ca = { txt: t('go_to_booking'), url: 'http://yourttoo.com/edit/booking?code=' + booking.idBooking } %}
              {% endif %}
              {% include "../partials/call-to-action.njk" %}

              <!-- BEGIN message // -->
              {% include "../partials/yto-team-thanks-message.njk" %}
              <!-- // END message -->
            {% endcall %}
          </td>
        </tr>
      </table>
      <!-- // END BODY -->
    </td>
  </tr>
{% endblock %}
