{% extends '../layouts/yto-layout.njk' %}

{% block body %}
<tr>
    <td align="center" valign="top">
        <!-- BEGIN HEADER // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
            <tr>
                <td valign="top" class="headerContainer">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                        <tbody class="mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnTextBlockInner">

                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer">
                                        <tbody>
                                            <tr>

                                                <td valign="top" class="mcnTextContent" style="padding: 9px 18px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
                                                    &nbsp;
                                                    <h1>{{ t('visaletter_confirmed', { id: booking.idBooking }) }}</h1>
                                                    <br />
                                                    <h3>{{ t('visaletter_confirmed_text') }}</h3>
                                                    <p><strong>{{ t('expediente') }} {{ affiliate.company.name or affiliate.name }}:</strong> {{ booking.idBookingExt }}</p>
                                                    <p><strong>{{ t('program') }} {{ affiliate.company.name or affiliate.name }}:</strong> {{ product['title_' + lang] }} </p>
                                                    <p><strong>{{ t('travel_date') }} {{ affiliate.company.name }}:</strong> {{ booking.dates.start.day }} {{ booking.dates.start.monthname_en }} {{ booking.dates.start.year }} </p>
                                                    <p><strong>{{ t('paxes') }} {{ affiliate.company.name }}: </strong>{{ booking.paxes.length }}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <!-- // END HEADER -->
    </td>
</tr>
<tr>
    <td align="center" valign="top">
        <!-- BEGIN BODY // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
            <tr>
                <td valign="top" class="bodyContainer">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock">
                        <tbody class="mcnBoxedTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnBoxedTextBlockInner">

                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextContentContainer">
                                        <tbody>
                                            <tr>
                                                <td valign="top" class="mcnBoxedTextBlockInner">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                        <tbody class="mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnTextBlockInner">
                                    <br />
                                    {% if not ca %}
                                    {% set ca = { txt: t('go_to_booking'), url: 'http://yourttoo.com/edit/booking?code=' + booking.idBooking } %}
                                    {% endif %}
                                    {% include "../partials/call-to-action.njk" %}
                                    <!-- END Call to action -->
                                    <!-- BEGIN booking // -->
                                    {% include "../partials/yto-team-thanks-message.njk" %}
                                    {% include "../partials/no-reply-email.njk" %}
                                    <!-- // END booking -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <!-- // END BODY -->
    </td>
</tr>
{% endblock %}